* {
    margin:0;
    padding:0;
}
body {
    background-color: rgb(107, 169, 192); 
    background-repeat: repeat;
    /* url("") */
}
.container {
    width: auto;
  max-width: 680px;
  /* padding: 0 15px; */
}

#name {
    font-size: 60px;
    margin-left:2%;
    margin-top: 1%;
    color:rgb(243, 208, 52);
    float:left;
    
}
#position_title {
    float:left;
    margin-top: 4%;
}

#position_title {
    color:rgb(220, 244, 252);
}

#bio_circle {
    /* background-image:url("assets/images/crumpled_paper.png");  */
    margin-left: 25%;
    border: 1px solid rgb(107, 169, 192);
    padding: 10px;
    box-shadow: 5px 10px 28px rgb(35, 90, 109);
    height:630px;
    width: 540px;
    background-color: rgb(216, 242, 250);
    border-radius: 50%;

    
  
}
#gooey_footer {

        position: absolute;
        bottom: 0;
        width: 100%;
        height: 250px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */

        
        
}

 #top_line {
    height: .1%;
   
}
#footer_font {
 
   padding-bottom:10%;   
}
.text_modif{
    color: rgb(248, 245, 245);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
#photo {
    width: 16%; /* this scales the image down */
    margin-bottom:7%; /* this makes it go above */
   margin-left:3%; /* this is easy */
     border: 5px solid white; adds white
 
}

.btn {
    padding-top:37%;
    margin-left:11%;
    font-family: 'Cookie', cursive;
    font-size:45px;
    color:white;
}

.fixed-bottom {
    padding-bottom: 10%;
}
.links {
   margin-top: 44%;
  margin-left: 17%;
}

#email {
    padding-top: 40%;
    padding-left: 20%;
    width:88%;
}

#text_intro {
    padding-top: 34%;
    padding-left: 20%;

}
li {
    margin-left:5%;
}