* {
    margin:0;
    padding:0;
}
body {
    background-color: rgb(73, 139, 163); 
    background-repeat: repeat;
    /* url("") */
}
.container {
    width: auto;
  max-width: 680px;
  /* padding: 0 15px; */
}

#name {
    font-size: 60px;
    margin-top: 1%;
    color:rgb(234, 248, 155);
    float:left;
}
#position_title {
    float:left;
    margin-top: 4%;
}

#position_title {
    color:rgb(108, 212, 243);
}

#bio_box {
    /* background-image:url("assets/images/crumpled_paper.png");  */
    margin-left: 25%;
    border: 4px solid rgb(231, 114, 35);
    height:630px;
    width: 540px;
    background-color: rgb(216, 242, 250);
    border-radius: 50%;
    
  
}
#gooey_footer {

        position: absolute;
        bottom: 0;
        width: 100%;
        height: 250px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        
        
}

 #top_line {
    height: .1%;
   
}
#footer_font {
 
   padding-bottom:10%;   
}
.text_modif{
    color: rgb(248, 245, 245);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
#photo {
    width: 15%;
    height: 15%;

   margin-left:5%;
    border: 5px solid rgb(73, 139, 163);
    
}

.btn {
    padding-top:30%;
    margin-left:14%;
    font-family: 'Cookie', cursive;
    font-size:140px;
    color:yellow;
}